/Program.class
/RF2Concept.class
/RF2ConceptGroup.class
/RF2Description.class
/RF2DescriptionGroup.class
/RF2Item.class
/RF2ItemSingle.class
/RF2Parser.class
/RF2Relationship.class
/RF2RelationshipGroup.class
/SnomedParser.class
/TRF2ItemGroup.class
/FileReader.class
/fileIOTest.class
/UnitTests.class
